In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\marco\Desktop\ProyectoGrupalH\data\olist_sellers_dataset.csv')

In [6]:
df.rename(columns = {'seller_zip_code_prefix': 'zip_code', 'seller_city': 'city', 'seller_state': 'state'}, inplace= True)

In [7]:
df.head(3)

                          seller_id  zip_code            city state
0  3442f8959a84dea7ee197c632cb2df15     13023        campinas    SP
1  d1b65fc7debc3361ea86b5f14c68d2e2     13844      mogi guacu    SP
2  ce3ad9de960102d0677a81f5d0bb7b2d     20031  rio de janeiro    RJ

In [8]:
df['city'] = df['city'].str.title()

In [9]:
dfgeo = pd.read_parquet(r'C:\Users\marco\Desktop\ProyectoGrupalH\dataparquet\geolocation_cleanP')
dfgeo.head(3)

   zip_code  geolatitud  geolongitud       city state state_name
0      1037  -23.545621   -46.639292  Sao Paulo    SP  São Paulo
1      1046  -23.546081   -46.644820  Sao Paulo    SP  São Paulo
2      1041  -23.544392   -46.639499  Sao Paulo    SP  São Paulo

In [10]:
df = df[['seller_id', 'zip_code']].merge(dfgeo[['zip_code','geolatitud', 'geolongitud', 'city', 'state', 'state_name']], on='zip_code')
df

,seller_id,zip_code,geolatitud,geolongitud,city,state,state_name
0,3442f8959a84dea7ee197c632cb2df15,13023,-22.898536,-47.063125,Campinas,SP,São Paulo
1,e0eabded302882513ced4ea3eb0c7059,13023,-22.898536,-47.063125,Campinas,SP,São Paulo
2,d1b65fc7debc3361ea86b5f14c68d2e2,13844,-22.382941,-46.946641,Mogi Guacu,SP,São Paulo
3,ce3ad9de960102d0677a81f5d0bb7b2d,20031,-22.910641,-43.176510,Rio De Janeiro,RJ,Rio de Janeiro
4,1d2732ef8321502ee8488e8bed1ab8cd,20031,-22.910641,-43.176510,Rio De Janeiro,RJ,Rio de Janeiro
...,...,...,...,...,...,...,...
3083,f1fdf2d13186575751aa25876536d85c,5314,-23.534949,-46.733916,Sao Paulo,SP,São Paulo
3084,98dddbc4601dd4443ca174359b237166,87111,-23.456431,-51.866369,Sarandi,PR,Paraná
3085,74871d19219c7d518d0090283e03c137,4650,-23.659845,-46.677882,Sao Paulo,SP,São Paulo
3086,e603cf3fec55f8697c9059638d6c8eb5,96080,-31.744231,-52.328761,Pelotas,RS,Rio Grande do Sul
3087,9e25199f6ef7e7c347120ff175652c3b,12051,-23.016003,-45.582021,Taubate,SP,São Paulo

In [11]:
df.to_parquet(r'C:\Users\marco\Desktop\ProyectoGrupalH\dataparquet\data_sellerP')